<html>

<body>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <p>choose what you wanna do with the DB (The murillo.enst.fr DB is unreachable from outside the school so I did the program with a local DB with a table named "news" and BD named "tp1")</p>
    <button onclick="location.href = '/api/db/view';">View</button>
    <button onclick="location.href = '/api/db/update';">Update</button>
    <button onclick="location.href = '/api/db/delete';">Delete</button>
    <button onclick="location.href = '/api/db/insert';">Insert</button>
</body>

</html>