<html>

<body>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    </form>
    <form id="insertForm" method="post" action="/api/db/delete/:titre">
        <p> specify the title of the article you want to delete</p>
        <input type="text" name="titre">

        <input type="submit" value="delete">
        <br>

    </form>

    <%= message%>

        <button onclick="location.href = '/';">Go to Home page</button>

</body>

</html>